<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Contact</title>
</head>
<body>
    <!-- Contact Content -->
    <section class="container-fluid contact-content" id="contact">
            <div class="row row-content">
                <div class="col-md-3 col-content">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#Home">Home</a></li>
                        <li><a href="#About">About</a></li>
                        <li><a href="#Feature">Features</a></li>
                        <li><a href="#price">Pricing</a></li>
                        <li><a href="#Trainer">Trainers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-content">
                    <h4>Opening Hours</h4>
                    <ul>
                        <li>Sunday <span class="time">Closed</span></li>
                        <li>Monday <span class="time">6.00am to 8.00pm</span></li>
                        <li>TuesDay <span class="time">6.00am to 8.00pm</span></li>
                        <li>Wednesday <span class="time">6.00am to 8.00pm</span></li>
                        <li>Thrusday <span class="time">6.00am to 8.00pm</span></li>
                        <li>Friday <span class="time">6.00am to 8.00pm</span></li>
                        <li>Saturday <span class="time">6.00am to 8.00pm</span></li>
                    </ul>
                </div>
                <div class="col-md-3 col-content">
                    <h4>Contact Details</h4>
                    <ul>
                        <li><i class='bx bx-phone'></i> 044-7688-8767</li>
                        <li><i class='bx bx-phone-call'></i> +91 978979797</li>
                        <li><i class='bx bx-envelope'></i> BodyFit007@gmail.com</li>
                        <li><i class='bx bxs-navigation'></i> Chennai, India 600001</li>

                        <li>
                            <ul class="icons d-flex">
                                <li><i class='bx bxl-facebook'></i></li>
                                <li><i class='bx bxl-instagram' ></i></li>
                                <li><i class='bx bxl-twitter'></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-content">
                    <h4>Register</h4>
                    <form action="">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="" name="Name">
                            <label for="" class="form-label">Name</label>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder="" name="Name">
                            <label for="" class="form-label">Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="" name="Name">
                            <label for="" class="form-label">Phone</label>
                        </div>
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="" name="Name">
                            <label for="" class="form-label">Place</label>
                        </div>
                        <button class="getbtn" type="submit">Submit</button>
                    </form>
                </div>
            </div>

            <div class="footer">
                <h4>Created By <span class="copyright">Kannan M Web Designer & Developer</span> | All Right Reserved.</h4>
            </div>
    </section>
    
</body>
</html>
